
.card-text{
  color: azure;
  font-family: "Lucida Console", "Monaco", monospace;
  font-size: 0.9rem;
}

.card-desc{
  text-align: left;
  
}

.card-desc ul {
  margin-left: 25px;
}

.card-desc li {
  margin-top: 10px;
}

.card {
  gap: 8px; 
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; 
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: flex-start;
}

.card-image{ 
  min-width: 15vw;
  max-width: 25vw;
  aspect-ratio: 1 / 1;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  background: rgba(63, 50, 202, 0.05);
  overflow: hidden;
}

.project-image {
  flex: 0 0 512px;  
}

.experience-image{
  min-width: 15vw;
  max-width: 25vw; 
  min-height: 15vw;
  max-height: 25vw;
  aspect-ratio: 1 / 1;
}
