.panels h2 {
  margin: 8px 0;
  color: white;
  text-align: center; 
  font-family: "Lucida Console", "Monaco", monospace;
}

.panels{
  flex: 1;
  margin: 0;

  border: 3px solid rgb(254, 254, 254);
  padding: 10px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;

  backdrop-filter: blur(10px);

  color: rgb(230, 230, 230);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.panels-small{
  text-align: center;
  font-family: "Lucida Console", "Monaco", monospace;
}

.Aboutme-title{
  padding: 10px;
}

.Skills-desc{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 50px;
  padding: 10px;
}

.Skills-desc h3 {
  margin-bottom: 12px;
}