.namecard {
    text-align: center;
    font-family: "Lucida Console", "Monaco", monospace;
    font-size: 1.3rem;
    color: rgb(200, 200, 200);
}

.projectpanel{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(254, 254, 254);
  padding: 10px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  color: rgb(230, 230, 230);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}