.blur{
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: rgb(0, 0, 0);
}

.blur .accordion-item,
.blur .accordion-header,
.blur .accordion-button,
.blur .accordion-body {
  background: transparent !important;
  border: none !important;
  color: rgb(0, 0, 0) !important;
}

.blur .accordion-button::after {
  filter: invert(1);
}

.equal-height {
  display: flex;
  flex: 1;
}

.equal-height .blur {
  flex: 1;
  display: flex;    
  flex-direction: column;
}

.project-card {
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.carousel-image-container {
  width: 100%; 
  height: 600px; 
  overflow: hidden; 
}

.carousel-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
