/*Background animation from https://codepen.io/delroyprithvi
(MIT Licence)
*/

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: auto; 
}
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgb(26, 33, 62);
    background-size: cover;
    animation: animateBg 50s linear infinite;
    z-index: -1;
}
